<div class="well current-weather-well">
    <div class="row">

        <div class="col-xs-6">
            <h1 class="weather-icon-large pull-right">{{weather-icon iconClass}}</h1>
            <h1>{{model.name}} </h1>
            <h3>{{date}}</h3>
          {{#each model.weather as |w|}}
              <h4>{{w.description}}</h4>
          {{/each}}
            <h1 class="enormous-text">{{roundedTemp}} °C </h1>
        </div>

        <div class="col-xs-1"></div>

        <div class="col-xs-5 bigger-text">
            <br/>
            Wind Speed: {{model.wind.speed}} m/s <br/>
            Humidity: {{model.main.humidity}} % <br/>
            Cloud cover: {{model.clouds.all}}% <br/>
            Rainfall: {{rainfall}} mm <br/>
            Sunrise: {{sunrise}} <br/>
            Sunset: {{sunset}}
        </div>

    </div>
</div>
